.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5555;
    transition: 0.3s linear;
  }
  
  .ulLinks > li {
    transition: background-color 0.5s, padding-left 0.5s;
  }
  
  .ulLinks > li:hover {
    background-color: #ae8b0b;
    padding-left: 5px;
  }
  
  /* Optional: Commented-out section for logo styles */
  
  .sideBarLogo {
    width: 40px;
    height: 40px;
  } 
 
  